*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.7rem;
  background-image: url("/img/hollywood.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 96rem;
  max-width: 100%;
  margin: 3rem auto;
  padding: 2rem;
  background-color: transparentize($color: white, $amount: 0.5);
}

.linkBtn {
  text-decoration: none;
}
