*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.7rem;
  background-color: $black;
  color: white;
}

.container {
  width: 96rem;
  max-width: 100%;
  margin: auto;
  padding: 2rem;
}

.linkBtn,
.linkBtn:link,
.linkBtn:active {
  text-decoration: none;
  color: white;

  &:hover {
    color: $black;
  }
}
